@import "libs"
@import "base"


.header
	position: fixed
	right: 0
	left: 0
	top: 0
	padding: 10px 40px
	transition: all .6s
	z-index: 1001
	background: linear-gradient(top, rgba(#a56b9c, .9), rgba(#7050a6, .9))
	background-repeat: no-repeat
	background-position: 0 -100px

	&--active,
	&--menu
		background-position: 0 0
		

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
	
	&__call
		text-align: right
		line-height: 1.2
		font-size: 15px

	&__nav
		margin: 0 10%

	
.nav
	ul
		display: flex
		justify-content: space-between

	li
		margin-right: 55px

		&:last-child
			margin-right: 0

	a
		position: relative
		z-index: 1
		text-transform: uppercase
		font-weight: 600
		font-size: 16px

	.active
		text-decoration: underline
		color: #f5f5f5


.hero
	background: linear-gradient(top, rgba(#a56b9c, 1), rgba(#7050a6, 1))
	background-size: cover
	background-repeat: no-repeat
	padding: 15% 0
	text-align: center
	min-height: 100vh

	&__sub-title
		font-size: 20px
		margin-bottom: 40px

	a
		color: #fc8877

	&__form
		margin-bottom: 20px
		display: flex
		justify-content: space-around
		flex-wrap: wrap
		align-items: center

		&_item
			width: 40%

		p
			width: 100%

.filter
	margin-bottom: 60px



.shape
	position: relative
	background: linear-gradient(top, rgba(#a56b9c, 1), rgba(#7050a6, 1))
	background-size: cover
	background-repeat: no-repeat
	text-align: center
	padding: 0 0 40px 0

	&__wrap
		position: absolute
		top: -80px
		width: 100vw
		height: 60px

		&::before
			content: ''
			border-bottom: 60px solid #a56b9c
			border-left: 0px solid transparent
			border-right: 100vw solid transparent
			border-top: 40px solid transparent


.main
	padding-top: 140px
	padding-bottom: 80px
	min-height: 100vh
	background: #b47399


.block
	padding: 25px 30px

	&__header
		position: relative
		transition: all .6s

		&:hover
			span
				background: #fff

		span
			position: absolute
			right: 0
			top: 50%
			transform: translate(50%, -50%)
			display: block
			width: 40px
			height: 40px
			border-radius: 50%
			transition: all .6s

			&::before,
			&::after
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				background: #000
				transition: all .6s

			&::before
				width: 1px
				height: 24px

			&::after
				width: 24px
				height: 1px

		&--active
			span
				transform: translate(50%, -50%) rotate(-45deg)


	&__content
		margin-top: 25px
		font-size: 16px
		font-weight: 300


.policy
	font-size: 20px

	h3
		font-size: 20px
		margin-bottom: 25px

	p
		margin-bottom: 30px
		font-weight: 300

	li
		position: relative
		padding-left: 10px
		font-weight: 300

		&::before
			content: '*'
			position: absolute
			top: 0
			left: 0


.internet

	&__list
		position: relative

		&::before
			content: ''
			position: absolute
			top: 50%
			left: 30px
			transform: translate(0, -50%)
			height: 90%
			width: 2px
			background: #fff


	&__item
		position: relative
		padding-left: 90px
		margin-bottom: 40px
		min-height: 60px

		&:last-child
			margin-bottom: 60px

		&_img
			position: absolute
			top: 50%
			left: 0
			transform: translate(0, -50%)
			width: 60px
			height: 60px
			border: 2px solid #fff
			border-radius: 50%
			background: #b47399

			img
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				width: 98%
				height: 98%

	&__btn
		display: flex
		justify-content: center



.footer
	background: #6148aa
	padding: 10px 40px

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&__nav
		a
			text-transform: none
			font-size: 14px

		li
			margin-right: 20px

	&__call
		font-weight: 600
		font-size: 16px

	&__up




@import "page"
@import "media" // Always at the end